.product-page{

padding:160px 8% 100px;

}

.product-container{

display:grid;

grid-template-columns:1fr 1fr;

gap:60px;

align-items:center;

}

.product-container img{

width:100%;

border-radius:25px;

background:#111;

padding:20px;

}

.product-info h1{

font-size:52px;

margin-bottom:20px;

}

.product-info p{

color:#bbb;

margin:15px 0;

line-height:1.8;

}

.price{

font-size:42px;

font-weight:700;

color:#FFD700;

margin:30px 0;

}

.buttons{

display:flex;

gap:20px;

flex-wrap:wrap;

}

.buttons button{

padding:16px 35px;

border:none;

border-radius:50px;

cursor:pointer;

font-size:16px;

}

.buy{

background:#8B5CF6;

color:white;

}

.cart{

background:#06B6D4;

color:black;

}

@media(max-width:900px){

.product-container{

grid-template-columns:1fr;

}

.product-info{

text-align:center;

}

.buttons{

justify-content:center;

}

}
